@media screen and (max-width: 1050px) {
    
   
    .header {
        height: 150px;
    }

    .vector {
        margin: 4px 15px;
    }

    .about-section {
        height: 850px;   
    }

    .about-text-rectangle {
        position: absolute;
        width: 650px;
        top: 100px;
        right: 0px;
        align-items:flex-start;
        bottom: auto;
    }


    
    .about-photo{
        position: absolute;

        left: 15px;
        height: 820px;
        border-radius: 3%;

    }


    .about-text-add {
        z-index: 1;
    
        
        word-wrap:break-word;
        margin: 30px 10px 0;
        color: white;
        
        font-family: Sen;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
    
    }


    .skillset-section {
        display: inline;
    }

    .skillset-section-block {
        margin-left: -73px;
    }
    
    
    .experience-section-main-text {
        width: 610px;
    }

    .experience-items {    
        width: 300px;
        height: 369px;
        margin-left: 10px;
    }


    .experience-items-main-text {
        margin-top: 50px;
    }
    
    .projects-section-text {
        margin-left: 320px;
    }


    .youTube-downloader-bot, .converter-bot, .web-site, .soon-projects {
        width: 800px;
        height: max-content;
        margin-left: 320px;
        margin-top: 50px;
    }

    
    .projects-text {
        width: 736px;
        height: 170px;
        padding: 40px 32px;
        background-color: #181823;
    }
    
    .projects-main-text {
        font-size: 50px;
    }

    .projects-add-text {
        font-size: 24px;
    }

    .viev-all-projects {
        width: 575px;
        height: 135px;
    
        margin: 50px auto;
    }


    .contact-main-text {
        font-size: 60px;
    
    }
    
    .contact-add-text {
        font-size: 22px;
    }

    .contact-input {
        width: 526px;
        height: 491px;
    
        margin: 20px auto;
        display: block;
    }

}




