@media screen and (max-width: 600px) {
    

    header {
        height: 200px;
    }

    .vector {
        margin: 4px 15px;
    }

    .vector-photo {
        width: auto; 
        height: 180px;
    }

    nav {
        border-bottom: 0;
    }

    nav ul {
        display: none;
        height: auto;
    }

    nav a#pull {
        display: block;
        margin-right: 40px;
        margin-top: 30px;
    }

    nav a#pull:after {  
        content:"";  
        background-color: #181823;  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        top: 10px;  
    }  

    
    .about-section {
        position: static;
        margin-top: 0;
        display: inline; 
    }
    
    .photo-rectangle {
        margin: 180px auto;
        width: 90%;
        height: max-content;
    }
    
    .about-photo{

        position: static;
    
        width: 100%;
        height: auto;
        border-radius: 3%;
    
    }
    
    
    .about-text-rectangle {
        position: static;
        width: 90%;
    }
    
    
    .about-text {
        font-size: 130px;
        font-weight: 800;
        line-height: 150px;
    }
    
    .about-text-add {
        margin-top: 50px;
        font-size: 40px;
        font-weight: 400;
        line-height: 60px;
    }
    

   
    .skillset-rectangle {
        margin-top: 300px;
        margin-left: 78px;
    }
    
    .skillset-text {
        font-size: 130px;
        font-weight: 800;
        line-height: 150px;

    }


    .skillset-text-add{
        color: rgba(255, 255, 241, 0.242);
        font-family: Sen;
        font-size: 40px;
        font-weight: 400;
        line-height: 60px;
        text-align: left;
    }

    .first-line {
        display: inline;
    }

    .second-line {
        display: inline;
    }


    .programming-languages, .web-development, .languages, .other {
        width: 800px;
        margin-left: 411px;
        margin-right: 411px;

    }
    
    .programming-languages-text, .web-development-text, .languages-text, .other-text {
        padding-top: 8px;
        width:800px;
    
        color: whitesmoke;
        font-family: Sen;
        font-size: 80px;
        font-weight: 800;
        line-height: 100px;
        letter-spacing: 0em;
        text-align: left;
    
    }
    
    .programming-languages-text-add, .web-development-text-add, .languages-text-add, .other-text-add {
        width: 800px;

        margin-left: 0;
        color: rgba(255, 255, 241, 0.242);
        font-family: Sen;
        font-size: 40px;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;
    
    }

    .skillset-photo {
        width: 80px;
    }
    
    .skillset-photo-last {
        width: 77px;
    }

    .skillset-footer {
        display: none;
        
    }
    
    /* .skillset-footers1{
        width: auto;
        height: auto;
        margin-left: 350px;
    }

    .skillset-footers2{
        width: auto;
        height: auto;
        margin: 0;
        margin-right: 400px;
    }
    
    .skillset-footers-photo {
        width: 250px;
        margin-left: auto;
    } */
    

    .experience-section {
        margin-top: 300px;

    }
    
    .experience-section-add-text {
        font-size: 40px;
        font-weight: 400;
        line-height: 60px;
    }

    .experience-section-main-text {
        width: 1200px;

        font-size: 130px;
        font-weight: 800;
        line-height: 150px;
    }

    .experience-rectangle {
        display: inline;
        padding: 120px 120px;
    
    }


    .experience-items {   
        width: auto;
        height: 369px;
        margin-top: 200px;
        margin-left: 350px;
        margin-right: 350px;

    }


    .experience-items-main-text {
        font-size: 80px;
        font-weight: 800;
        line-height: 100px;     
    }

    .experience-items-add-text {
        margin-top: 50px;

        font-size: 40px;
        font-weight: 400;
        line-height: 60px;    
    }
    
    .projects-section {
        margin-top: 300px;
    }

    .projects-section-text {
        margin-left: 365px;
        margin-right: 365px;

    }

    .projects-section-main-text {
        max-width: 910px;
        font-size: 130px;
        font-weight: 800;
        line-height: 150px; 
    }

    .projects-section-add-text {
        font-size: 40px;
        font-weight: 400;
        line-height: 60px;
    }


    .youTube-downloader-bot, .converter-bot, .web-site, .soon-projects {
        width: 910px;
        height: max-content;
        margin-left: 330px;
        margin-top: 50px;
    }

    
    .projects-text {
        width: 850px;
        height: max-content;
        padding: 40px 32px;
        background-color: #181823;
    }
    
    .projects-main-text {
        font-size: 50px;
    }

    .projects-add-text {
        font-size: 40px;
        font-weight: 400;
        line-height: 60px;
    }

    .projects-icons {
        width: 40px;
    }



    .viev-all-projects-button {
        background-color: #5221E6;
        position: absolute;
        border: none;
       
        
        height: inherit;
        width: inherit;
        margin: 30px 20px;

        
    
    }
    
    .viev-all-projects-button-press {
        margin: 0px auto;

    
        color: whitesmoke;
        background-color: #5221E6;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration-color: rgba(0, 0, 0, 0);
    
        height: 120px;
        width: inherit;
        
        font-family: Sen;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        text-align: left;
    
    }

    .plug {
        height: 300px;
    }

    .contact {
        display: inline;
        margin-bottom: -300px;
    }

    .contact-text {
        width: 846px;
        margin-left: 360px;
        margin-right: 380px;
    }

    .contact-main-text {
        max-width: 910px;
        text-align: center;
        margin-left: 20px;

        color: #5221E6;
        font-size: 130px;
        font-weight: 800;
        line-height: 150px;
    }
    
    .contact-add-text {
        text-align: center;

        font-size: 40px;
        font-weight: 400;
        line-height: 60px;
    }

    .contact-input {
        width: 860px;
        height: 780px;
    
        margin: 100px 370px;
        
    }

    .contact-input-name, .contact-input-email, .contact-input-message {
        font-size: 40px;
        font-weight: 400;
        line-height: 60px;
    }

    .contact-input-name-input, .contact-input-email-input {
        height: 80px;
    }

    .contact-input-message-input {
        height: 160px;
    }




    .contact-input-button {
        background-color: #5221E6;
        position: absolute;
        border: none;
       
        
        height: 120px;
        width: 575px;
        margin-left: 150px;
    
    }
    
    .contact-input-button-text {
        margin: 0px auto;

    
        color: whitesmoke;
        background-color: #5221E6;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration-color: rgba(0, 0, 0, 0);
    
        height: 120px;
        width: inherit;
        
        font-family: Sen;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        text-align: left;
    
    }

}








