.container {
    width: 1440px;
}

.header {
    width: 100%;
}

.about-section {
    width: 100%;
}

.skillset-section {
    width: 100%;
}

.skillset-footer {
    width: 100%;
}

.experience-section {
    width: 100%;
}